name: pdf
description: A new Flutter project.
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ^3.0.0

dependencies:
  flutter:
    sdk: flutter
    
    # File picker
  file_picker: ^8.0.0

  # PDF viewer (قوي)
  syncfusion_flutter_pdfviewer: ^27.1.58

  # PDF read/write
  syncfusion_flutter_pdf: ^27.1.58

  # Save files
  path_provider: ^2.1.4

  # (مرحلة 2) OCR
  google_mlkit_text_recognition: ^0.13.0

  # Utils
  path: ^1.9.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^4.0.0

flutter:
  uses-material-design: true
  # assets:
  #  - images/a_dot_burr.jpeg
  #  - images/a_dot_ham.jpeg
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
